body
{
	background-color:black;
	color: white;
	font-family: courier;
	font-size: 14px;
}
input
{
	font-family: courier;
	font-size: 12px;
	background-color: black;
	border: none;
	outline: none;
	color: white;
	height: 17px;
	width: 550px;
}
a
{
	color: white;
	text-decoration: none;
	font-family: georgia;
}
a:hover
{
	color: grey;
}
.inLink a
{
	font-family: courier;
}
.noScriptLink a
{
	font-family: courier;
	color: grey;
}