body {
	background-color:black;
	color: white;
	font-family: courier;
	font-size: 14px;
}

#terminal {
	width: 800px;
	height: 200px;
	border-style: solid;
	border-width: 0px;
	text-align: left;
}

#terminal-input {
	font-family: courier;
	font-size: 12px;
	background-color: black;
	border: none;
	outline: none;
	color: white;
	height: 17px;
	width: 550px;
}

a {
	color: white;
	text-decoration: none;
	font-family: georgia;
}
a:hover {
	color: grey;
}

.inLink a {
	font-family: courier;
}
.noScriptLink a {
	font-family: courier;
	color: grey;
}
